:root {
    --KHA:#BFB48F;
    --GRY:#564E58;
    --RSE:#904E55;
    --WHI:#F2EFE9;
    --BLA:#252627;
}

body {
    background-color: var(--WHI);
    color: var(--GRY);
}

.article-title, .article-title:hover {
    text-decoration: none !important;
    color: var(--RSE) !important;
}